*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved

BuildingEscapeDF/Content/StarterContent/Textures
BuildingEscapeDF/Content/StarterContent/HDRI
**/xcuserdata
BuildingEscapeDF/Content/StarterContent
